.App {
  text-align: center;
  /* width: 500px; */
}

.Container{
  background: lightgray;
margin: 2% 15% 0 15%;
padding: 15px 0 15px 0;
}


.item{
  background: lightblue;
  margin: 1% 10% 1% 10%;
  padding: 15px;
  font-weight: bold;
  
}

.item.completed{
  text-decoration: line-through;
  background: red;
}



.Input{
  border-radius: 2px;
  padding: 5px;
  margin: 12px;
  font-weight: bold;
}
.Btn{
  padding: 12px;
  margin: 6px;
  font-weight: bold;
  background: lightblue;
}